<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423047904244-ls89sh0e3mnp1vb01c91gg3kosogrtnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423047904244-ls89sh0e3mnp1vb01c91gg3kosogrtnm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>423047904244-m02l0l59htk8abs5kj02h7ri90tdmtta.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwlt-pSMoHoOyAGXOWyNOaun1O5OhEMPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>423047904244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.tourrent.ios</string>
	<key>PROJECT_ID</key>
	<string>tourbooking-e49bf</string>
	<key>STORAGE_BUCKET</key>
	<string>tourbooking-e49bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423047904244:ios:59a765ce08abbde42d57a1</string>
</dict>
</plist>